#app
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#main
{
  height: 100%;
  width: 100%;
  background: #0f0f0f;
}

.fade-enter-active,
.fade-leave-active
{
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to
{
  opacity: 0;
}

/* PartItem.vue */
.icon
{
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
}

.details
{
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 3px;
}

.label
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partname
{
  font-weight: 500;
  max-width: 300px;
}

.participant
{
  font-size: 12px;
}

.part-item
{
  padding: 20px 15px;
  background: transparent;
  width: 100%;
  height: fit-content;
  color: white;
  font-weight: 300;
  font-size: 14px;

  display: flex;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out .3s;
}

.active
{
  background: #ffffff1e;
}

.part-item:hover
{
  background: #ffffff1e;
}

.mwb-treasures,
.mwb-ministry,
.mwb-living
{
  padding: 5px 15px;
  width: 100%;
  min-height: 50px;
  color: white;
  font-weight: 500;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 5px;
}

.mwb-treasures
{
  background: #808080;
}

.mwb-ministry
{
  background: #ffa500;
}

.mwb-living
{
  background: #99131E;
}

.remark
{
  display: flex;
  align-items: center;
  padding: 3px 0;
  gap: 4px;
  font-size: 12px;
}

.remark-icon
{
  padding: 2px 10px;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
}

.over
{
  background: #ec4754;
}

.under
{
  background: rgb(0, 190, 0);
  color: black;
}

@media screen and (max-width: 767px)
{
  .details
  {
    user-select: none;
  }
}